#aboutme {
    display: grid;
    grid-template-columns: 70%  5% auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "heading heading img"
        "content buffer img";
}

#aboutme-heading {
    grid-area: heading;
    align-self: end;
    margin: 0px;
}

#aboutme-content {
    grid-area: content;
    margin: auto;
}

#aboutme-img {
    width: 80%;
    height: auto;
    border-radius: 100%;
    grid-area: img;
    margin: auto;
}

#skills {
    width: 100%;
}
