* {
    font-family: 'Poppins', sans-serif;
    font-size: 1.05em;
    color: white;
}

html {
    background: #494949;
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
}

body {
    width: 90%;
    margin: auto;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

#subheading {
    font-size: 0.5em;
    color: #888888;
    font-weight: normal;
}

footer {
    color: #888888;
    text-align: center;
}

footer hr {
    width: 50%;
    color: #888888;
}
