* {
    --nav-color: purple;

    font-family: 'Poppins', sans-serif;
    font-size: 1.05em;
    color: white;
}

html {
    background: #494949;
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    width: 90%;
    margin: auto;
}

h1 {
    font-size: 4em;
    padding: 0px;
    margin: 0px;
}

h2 {
    font-size: 2em;
}

footer {
    color: #888888;
    text-align: center;
}

footer hr {
    width: 50%;
    color: #888888;
}

a {
    color: #494949;
    transition: color 0.5s ease;
}

a:hover {
    color: white;
}

.nav {
    color: #888888;
    text-decoration: none;
    transition: color 0.5s ease;
}

.nav:hover {
    color: var(--nav-color);
}

#subheading {
    font-size: 0.5em;
    color: #888888;
    font-weight: normal;
}

#heading {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}

#heading:hover {
    color: var(--nav-color);
}
